.battleground-container {
  position: initial;
  margin-right: 48px;
  width: fit-content;
  border: 1px solid lightgray;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
}

.battleground-container > button {
  margin-right: 24px;
}

.pokemon-container {
    position: relative;
    padding: 0;
}

.button-badge {
  background: black;
  color: white;
  font-size: 1em;
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 2px 8px;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .pokemon-container {
    flex: 1 1 auto;
  }
  .pokemons-container > button {
    padding: 1em 2em;
  }

  .battleground-container {
    width: 100%;
  }
  
  .button-badge {
    right: 35%;
  }
}
.pokemon-title, .pokemon-id {
  text-align: center;
  text-transform: uppercase;
}

.fight-button {
  max-height: 3em;
  height: 100px;
}

