.battleground-container {
  position: initial;
  margin-right: 48px;
  width: fit-content;
  border: 1px solid lightgray;
  margin: 0 auto;
}

.pokemons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
}

.pokemons-container > button {
  margin-right: 24px;
}

@media only screen and (max-width: 768px) {
  .pokemon-container {
    flex: 1 1 auto;
  }
  .pokemons-container > button {
    padding: 1em 2em;
  }

  .battleground-container {
    width: 100%;
  }
}
.pokemon-title, .pokemon-id {
  text-align: center;
  text-transform: uppercase;
}

.fight-button {
  max-height: 3em;
  height: 100px;
}