@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

.Overview {
  text-align: initial;
}

.header-container {
    height: 400px;
    font-size: 2rem;
    background-color: rgba(46, 26, 4, 1);
    display: flex;
    flex-direction: column;
}

.header-container > * {
    font-family: 'Big Shoulders Text', Arial, Helvetica, sans-serif, sans-serif;
    color: white;
    text-align: center;
}

.header-container > .header-title {
    text-shadow: 2px 2px 5px lightblue;
}

button.go-to-selection {
    display: block;
    border: 0;
    border-radius: 8px;
    font-size: 1em;
    padding: 1em 3em;
    margin: 0 auto;
    margin-bottom: 48px;
    font-family: 'Big Shoulders Text', Arial, Helvetica, sans-serif, sans-serif;
    background-color: purple;
    color: white;
}

.header-container > button.go-to-selection {
    font-size: 0.5em;
    margin-top: auto;
}

h2.section-title, .description {
    color: black;
    font-family: 'Big Shoulders Text', cursive, sans-serif;
}

section.description {
    padding: 16px 0;
    margin: 0 10%;
}